
html, body {
	width:100%;
	height:100%;
}

body {
	background-color:#DADADA;
}

#bglWindow {
	text-align:center;
}
	#bglWindow > table {
		margin:2em auto 0 auto;
		border:none;
		table-layout:fixed;
		border-collapse:collapse;
		outline:1px solid #666;
	}
		#bglWindow > table > tbody > tr {
			display:block;
			vertical-align:top;
			height:16px;
		}
			#bglWindow > table > tbody > tr > td {
				display:inline-block;
				width:16px;
				height:16px;
				text-align:center;
				padding:0;
				overflow:hidden;
				vertical-align:top;
			}
				#bglWindow > table > tbody > tr > td > input[type=text] {
					width:16px;
					height:16px;
					padding:0;
					margin:0;
					border:none;
					outline:none;
					vertical-align:top;
					font-size:12px;
					text-align:center;
					opacity:0.2;
				}
					#bglWindow > table > tbody > tr > td > input[type=text]:focus {
						opacity:0.6;
					}

	#bglWindow > textarea {
		display:block;
		margin:1em auto 0 auto;
		border:none;
		outline:1px solid #666;
	}

	#bglWindow > button {
		display:inline-block;
		text-align:center;
		padding:1em 2em;
		margin:1em 0 2em 0;
		border:1px solid #666;
	}
