
html, body {
	width:100%;
	height:100%;
}

body {
	background-color:#DADADA;
}

#bglInterface {
	margin:2em auto;
}
	#bglInterface > table {
		width:100%;
		height:100%;
		border:none;
		table-layout:fixed;
		border-collapse:collapse;
		outline:1px solid #666;
	}
		#bglInterface > table > tbody > tr {
			display:block;
			vertical-align:top;
			height:16px;
		}
			#bglInterface > table > tbody > tr > td {
				display:inline-block;
				width:16px;
				height:16px;
				text-align:center;
				padding:0;
				overflow:hidden;
				vertical-align:top;
			}
				#bglInterface > table > tbody > tr > td > input[type=text] {
					width:16px;
					height:16px;
					padding:0;
					margin:0;
					border:none;
					outline:none;
					vertical-align:top;
					font-size:12px;
					text-align:center;
					opacity:0.2;
				}
					#bglInterface > table > tbody > tr > td > input[type=text]:focus {
						opacity:0.6;
					}

	#bglInterface > fieldset {
		position:relative;
		margin:1em 0;
	}
		#bglInterface > fieldset > table > tbody > tr > td {
			padding:0.25em 1em 0.25em 0;
		}

		#bglInterface > fieldset > button {
			position:absolute;
			top:0; right:0.5em;
			text-align:center;
			padding:1em 2em;
			border:1px solid #666;
			width:220px;
		}
			#bglInterface > fieldset > button + button {
				top:3.75em;
			}

	#bglInterface > textarea {
		width:100%;
		height:64px;
		border:none;
		outline:1px solid #666;
	}
