
body {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#fff;
}

/* */

span.icon-key-up {
	background:url(../img/ui/arrow-up.png) no-repeat;
	width:16px;
	height:16px;
}

span.icon-key-down {
	background:url(../img/ui/arrow-down.png) no-repeat;
	width:16px;
	height:16px;
}

span.icon-key-left {
	background:url(../img/ui/arrow-left.png) no-repeat;
	width:16px;
	height:16px;
}

span.icon-key-right {
	background:url(../img/ui/arrow-right.png) no-repeat;
	width:16px;
	height:16px;
}

/* */

#bglInterface {
	position:absolute;
	top:50%; left:50%;
	width:0px;
	height:0px;
}
	#bglInterface > header {
		display:none;
		position:absolute;
		top:0; right:-5em;
	}
		#bglInterface > header > hgroup > h1 {
			display:inline-block;
			margin:0;
			color:#fff;
			font-size:1em;
		}

		#bglInterface > header > hgroup > ul.fieldList > li > span {
			color:white;
		}

	#bglInterface > footer {
		display:none;
		position:absolute;
		bottom:0; right:-2.75em;
	}
		#bglInterface > footer > nav > ul > li {
			margin-top:0.5em;
		}
			#bglInterface > footer > nav > ul > li:first-child {
				margin-top:0;
			}

		#bglInterface > footer > nav > ul > li > button {
			padding:0.25em 0.5em;
			border:1px solid #000;
			background-color:#fff;
			-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
		}
			#bglInterface > footer > nav > ul > li > button > span.role-label {
				display:none;
			}
			#bglInterface > footer > nav > ul > li > button > span.role-icon {
				margin-top:-0.25em;
			}

			#bglInterface > footer > nav > ul > li > button.selected {
				border:1px solid #fff;
				background-color:#666;
			}
