
body {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#fff;
}

/* */

span.icon-key-up {
	background:url(../img/glyphicons_213_up_arrow.png) no-repeat;
	width:18px;
	height:20px;
	margin:0 1px;
}

span.icon-key-down {
	background:url(../img/glyphicons_212_down_arrow.png) no-repeat;
	width:18px;
	height:20px;
	margin:0 1px;
}

span.icon-key-left {
	background:url(../img/glyphicons_210_left_arrow.png) no-repeat;
	width:20px;
	height:18px;
	margin:1px 0;
}

span.icon-key-right {
	background:url(../img/glyphicons_211_right_arrow.png) no-repeat;
	width:20px;
	height:18px;
	margin:1px 0;
}

/* */

#bglInterface {
	position:relative;
	top:50%; left:50%;
	width:0px;
	height:0px;
}
	#bglInterface > header {
		display:none;
		position:absolute;
		top:0; right:-5em;
	}
		#bglInterface > header > hgroup > h1 {
			display:inline-block;
			margin:0;
			color:#fff;
			font-size:1em;
		}

		#bglInterface > header > hgroup > ul.fieldList > li > span {
			color:white;
		}

	#bglInterface > footer {
		display:none;
		position:absolute;
		bottom:0; right:-3em;
	}
		#bglInterface > footer > nav > ul > li {
			margin-top:0.5em;
		}
			#bglInterface > footer > nav > ul > li:first-child {
				margin-top:0;
			}

		#bglInterface > footer > nav > ul > li > button {
			border:1px solid #fff;
			background-color:#fff;
			-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
		}
			#bglInterface > footer > nav > ul > li > button > span.role-label {
				display:none;
			}

			#bglInterface > footer > nav > ul > li > button.selected {
				background-color:#666;
			}
